<!DOCTYPE html>
<html lang="en" ng-app="clockedNemesisApp">

<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="src/directives.js"></script>
    <script src="src/services.js"></script>
    <script src="src/upgrades.js"></script>
    <script src="src/app.js"></script>
</head>

<body ng-controller="Main">
    <span class="Money green">{{gameState.money | number:0}} credits</span>
    <span class="green">+{{powerProduction() | si}}</span>
    <span class="red">-{{powerConsumption() | si}}</span>
    <span>{{powerOutput() | si}}</span>
    <dial title="power" value="playerShip.power.value" min="0" max="playerShip.power.max" class="control" colour="#B83223" ng-click="rechargePower($event)"></dial>
    <dial title="shields" value="playerShip.shields.value" colour="#23a9b8"></dial>
    <dial title="hull" value="playerShip.hull.value" ng-click="rechargeHull()" class="control" colour="#99cc00"></dial>
</body>

</html>
