<!DOCTYPE html>
<html lang="en" ng-app="clockedNemesisApp">
    <head>
        <meta charset="utf-8">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style.css" type="text/css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="src/directives.js"></script>
        <script src="src/services.js"></script>
        <script src="src/upgrades.js"></script>
        <script src="src/app.js"></script>
    </head>
    <body ng-controller="Main">
          <div class="Money">
              <div class="green">{{gameState.money.toFixed()}} credits</div>
          </div>
        <div class="power control" ng-click="rechargePower($event)">
            <dial title="power"
                  value="playerShip.power.value"
                  min="0"
                  max="playerShip.power.max"
                  colour="#B83223"></dial>
            <div class="stats">
                <div class="green">+{{powerProduction() | si}}</div>
                <div class="red">-{{powerConsumption() | si}}</div>
                <div>{{powerOutput() | si}}</div>
            </div>
        </div>
        <div class="container">
            <dial title="shields"
                  value="playerShip.shields.value"
                  colour="#23a9b8"></dial>
            <dial title="hull"
                  value="playerShip.hull.value"
                  ng-click="rechargeHull()"
                  colour="#99cc00"></dial>
        </div>
    </body>
</html>
