body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    font-size: 13px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    background-color: #ccc;
    color: #222;
}

header > span {
    margin: 0 8px;
}

.control {
    cursor: pointer;
}

.control:hover {
    background-color: #333;
    border-color: #23a9b8;
}

.systems {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.system {
    margin: 8px;
    display: flex;
}

.controls {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    min-width: 64px;
}

.controls span {
    padding: 4px;
    border-bottom: 1px solid #444;
}

dial {
    display: block;
    position: relative;
    width: 192px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444;
}

dial > span {
    position: absolute;
}

dial > .value {
    left: 0;
    width: 192px;
    top: 0;
    bottom: 0;
    font-weight: 100;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

dial > .title {
    top: 0;
    left: 4px;
    font-size: 15px;
    text-transform:  uppercase;
    opacity: 0.8;
}

.green {
    color: #99cc00;
}

.red {
    color: #B83223;
}

.text-right {
    text-align: right;
}