body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    font-size: 13px;
}

.container {
    display: flex;
}

.control {
    cursor: pointer;
    border: 1px solid transparent;
}

.control:hover {
    background-color: #333;
    border: 1px solid #23a9b8;
}

dial {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444;
    margin: 10px;
}

dial > span {
    position: absolute;
}

dial > .value {
    left: 0;
    width: 200px;
    top: 0;
    bottom: 0;
    font-weight: 100;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

dial > .title {
    top: 0;
    left: 4px;
    font-size: 15px;
    text-transform:  uppercase;
    opacity: 0.8;
}

.green {
    color: #99cc00;
}

.red {
    color: #B83223;
}

.power {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}